.simple_al_item
{
position:absolute;
overflow:hidden;
}
.simple_al_slider_inside
{
  position:relative;
  left:0px;
  top:0px;
  text-align:left;
}
.simple_al_slider_outter
{

}
.simple_al_slider
{
position:relative;
/*  margin-left:100px;*/
}
/*
.simple_al_arrow
{
position:absolute;
z-index:1000;
}
*/
.simple_al_arrow
{
position: absolute;
float:left;
display:none;
z-index:10;
/*
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";

  filter: alpha(opacity=40);
*/
  /* Netscape */
  /*-moz-opacity: 0.4;*/

  /* Safari 1.x */
  -khtml-opacity: 0.4;

  /* Good browsers */
  opacity: 0.4;
}
.simple_al_arrow_left
{
position:absolute;
left:5px;
/*float:left;*/
cursor:pointer;
z-index:1100;
}
.simple_al_arrow_right
{
position:absolute;
cursor:pointer;
z-index:1100;
}
.simple_al_subitem_txt
{
position:absolute;
z-index:12!important;
}